
<% include ../partials/begin-body.ejs %>

<div id='contribution-page'></div>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/search-bar.ejs %>

</table>

<div class='hidden' id='contribution-confirmation-area'>

  <% var json = databaseResults.json,
         errors = databaseResults.errors,
         comments = databaseResults.comments,
         newID = databaseResults.newID; %>

  <% if (errors != undefined && errors.length > 0 &&
      Object.keys(query).length > 0) { %>

    <div class='content-panel'>

      <br/> There are errors with this submission...

      <% errors.forEach( function (error) { %>

        <br/> <br/> <%= error %>

      <% }); %>

      <br/> <br/>

    </div>

  <% } else if (comments != undefined && comments.length > 0) { %>

    <% var yesID = 0; %>

    <div class='content-panel'>
      <br/> Information Review <br/> <br/>
    </div>

    <div class='content-panel'>

      <br/> The following text is what the Credence Tree database sees after
      it interprets your contribution query. This file-format is called json:
      {braces} represent key-value pairs, [brackets] represent lists, and
      "quotes" contain human-readable information. Please take a moment to
      look through the json to ensure that your query was interpreted
      correctly; please pay special attention to the <i>structure</i> of the
      query (since we will be reviewing the <i>content</i> momentarily).

      <br/> <br/> <pre class='font-formatting'><%-
          JSON.stringify(json, null, 4); %></pre>

      <br/> Does this seem correct?
      <% var yesName = 'yes' + (++yesID); %>
      <input class='confirmation' type='radio'
          name='<%= yesName %>' value='1' </input> Yes
      <input class='confirmation' type='radio'
          name='<%= yesName %>' value='2' </input> No

      <br/> <br/>

    </div>

    <% comments.forEach( function (comment) { %>

      <% var type = comment.type,
             quote = comment.quote,
             similar = comment.similar,
             exact = comment.exact; %>

      <div class='content-panel'>

        <br/> Regarding the <%= type %>

        <br/> <br/> <pre><%- quote %></pre>

        <% if (exact != undefined && exact.length > 0) { %>

          <br/> This <i>exactly</i> matches the following entry:

          <br/> <br/> <pre><%- exact %></pre>

          <br/> Do you want to <i>reuse this existing entry?</i>

        <% } else { %>

          <br/> This does not match any existing entries.

          <br/> <br/> Do you want to <i>create a new entry?</i>

        <% } %>

        <% var yesName = 'yes' + (++yesID); %>
        <input class='confirmation' type='radio'
            name='<%= yesName %>' value='1' </input> Yes
        <input class='confirmation' type='radio'
            name='<%= yesName %>' value='2' </input> No

        <% if (similar != undefined && similar.length > 0) { %>

          <br/> <br/> Please compare with the following <i>similar</i> entries:

          <br/> <br/> <% similar.forEach( function (similarThing) { %>
            <pre><%- similarThing %></pre>
          <% }); %>

        <% } else { %>

          <br/>

        <% } %>

        <br/>

      </div>

    <% }); %>

    <div class='content-panel'>

      <br/> If you answered <u>yes</u> to all of the above questions, and if
      there were <u>no</u> errors, and if you did <u>not</u> change any of the
      text in the form at the top of the page, then you are ready to submit!
      Please enter the page number range for this citation to complete your
      submission, then hit "Submit"! (If no page numbers are available for this
      source, please enter "-1" for both fields.) Otherwise, if you're not
      ready to submit a finished contribution at this time, simply leave these
      fields blank for now, change the text in the form above as needed, and
      re-submit the form to received an updated Information Review. <br/> <br/>

      <input class='confirmation' type='text' name='pagelow'
          size='1'></input> citation page number lower bound <br/>
      <input class='confirmation' type='text' name='pagehigh'
          size='1'></input> upper bound (can be the same) <br/> <br/>

    </div>

  <% } else if (newID != undefined) { %>

    <div class='content-panel'>

      <br/> Your contribution was successful! <br/> <br/>

      Thank you for contributing to Credence Tree!!! <br/> <br/>

      Feel free to view your new content
      <a href='/claim?<%= newID %>' target='_blank'>here</a>. <br/> <br/>

      To contribute additional content re-using some of the information
      in the form above (most notably the citation information, which can
      be a pain to type in), feel free to edit the content of the form
      and re-submit it using the button below. <br/> <br/>

    </div>

  <% } %>

</div>

<% include ../partials/end-body.ejs %>
